html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 40px;
}
